@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Montserrat', serif;
    background-color: rgb(255, 255, 255);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: url(pexels-sesinando-1265215-3158519.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: rgb(255, 244, 244);
    border-bottom: 10px solid #FFFFFF29;
    padding: 8px 20px;
    box-sizing: border-box;
    height: 50px;
}

.logo{
    padding-top: 10px;
    padding-left: 20px;
}

.menu .navbar ul li {
    position: relative;
    float: left;

}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: black;
    display: block;
    height: 1px;
}

.menu .navbar ul li a:hover {
    color: rgb(76, 77, 78);
}

#menu {
    display: none;
}

.menu-icon{
    width: 25px;
}

.menu label{
    display: none;
    cursor: pointer;
}

.header-info h1{
    color: rgb(27, 27, 27);
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-family: 'Rubik Dirt';
}

.header-info p{
    color: rgb(169, 169, 169);
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 600;
}

.btn-1{
    display: inline-block;
    padding: 10px 35px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-transform: uppercase;

}

.btn-1:hover{
    background-color: rgb(59, 59, 59);
}

.arg{
    padding: 70px 0;
    display: flex;
    align-items: center;

}

.arg-1{
    width: 80%;
    padding-right: 150px;

}

.arg-1 h2{
    font-size: 37px;
    color: black;
    font-weight: 600;
    margin-bottom: 35px;
    font-family: 'Outfit';
    line-height: 40px;
}

.arg-33 h2{
    font-size: 37px;
    color: black;
    font-weight: 600;
    font-family: 'Outfit';
    line-height: 40px;
    text-align: left;
    padding-left: 100px;
    margin-bottom: 35px;
}

.arg-1 p{
    font-size: 16px;
    color: black;
    text-transform: initial;
    font-weight: 400;
    margin-bottom: 35px;
    text-align: justify;
}

.arg-33 p{
    font-size: 16px;
    color: black;
    text-transform: initial;
    font-weight: 400;
    text-align: justify;
    padding-left: 100px;
}


.arg-1 span{
    color: black;
}

.btn-2{
    display: inline-block;
    padding: 8px 45px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.btn-2:hover{
    background-color:  rgb(59, 59, 59);
}

.img-2, .img-4{
   position: relative;
    width: 300px;
    margin-bottom: 10px;
    left: 20px;
    right: 20px;
    margin-left: 60px;

}

.img-1,.img-3{
    width: 300px;
    position: relative;
    left: 70px;
    margin-bottom: 10px;
}

table, .arg-8 {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
}

.arg-8 h4{
    font-family: 'Outfit';
    font-size: 40px;
    color: black;
    font-weight: 600;
    text-align: center;
}

th, .td, .arg-1 {
    text-align: center;
    padding: 8px;
    font-size: 1rem;
}

th {
    background-color: #74ACDF;
}

tr:nth-child(even) {
    background-color: #feeab7;
}

tr {
    height: 35px; 
    text-align: center;
}

tr:hover {
    background-color: #fff700;
}

a {
    color: rgb(6, 193, 245);
    text-decoration: none;
    font-weight: bold;
}

.footer{
    box-sizing: border-box; 
    border-top: 2px solid #c2c2c2;
    display: flex;
    justify-content: space-between;
    background-color: rgb(236, 236, 236);
    padding-right: 105px;
    padding-top: 50px;
}

.LOGO-F{
    position: relative; 
    padding: 5px 130px;
    top: -25px;
}

.links ul {
    display: flex;
}

.links ul li{
    margin-right: 35px;
}

.links ul li a{
    color: black;
}

.arg-8 {
    text-align: center;
}



@media(max-width:991px){
    .menu{
        padding: 20px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgb(235, 231, 178);
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header-content{
        padding: 30px;
    }

    .header-info h1{
        font-size: 50px;
        margin-bottom: 5px;
    }

    .arg{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px;
    }
    
    .arg-1{
        width: 100%;
        padding: 0;
        order: 1;
    }

    .arg-1 h2{
        margin-bottom: 15px;
    }

    .btn-2{
        margin-bottom: 35px;
    }

    .arg-2{
        order: 2;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .img-1, .img-2, .img-3{
        margin: 0 0 20px 0;
    }

    .footer{
        flex-direction: column;
        align-items: center;
    }

    .footer h3{
        margin-bottom: 15px;

    }

    .lnks ul li{
        margin: 0 10px;
    }
}